- exclude = options[:exclude] || [:swap]
- events = resource.state_events - exclude rescue resource.state_events
- state = resource.state
- url = options[:url]
- klass = resource.class

- cl = resource.state_class rescue ""

- if events.present?
  .btn-group
    %button.btn.btn-default.btn-xs.btn-mini.dropdown-toggle{ class: cl, type: "button", data: { toggle: "dropdown" }}
      = tt(klass, state)
      %span.caret

    %ul.dropdown-menu
      - events.each do |event|
        %li= link_to tt(klass, event), [url, "state=#{event}"].join(url =~ /\?/ ? "&" : "?"), remote: true
- else
  .btn.btn-xs.btn-mini{ class: cl, disabled: true }
    = tt(klass, state)
