- back_url ||= collection_url

.form-group
  .form-actions.col-sm-offset-3.col-sm-7
    %button.btn.btn-primary= t("save")
    %a.btn.btn-default{ href: back_url }
      = fa_icon("arrow-left")
      = t("back_to_collection")
